/**/__pycache__
/**/.pytest_cache
/petscope-cli.spec
/venv
/data
/build
/PETScope.egg-info
/dist
/build/bdist.linux*
/build/lib/
/build/dependencies/spm_matlab_runtime/MATLAB_Runtime_R2022b_Update_10_glnxa64.zip
/processing-data